* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.hero-section {
    background-image: url("pondok.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-section .hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem;
  border-radius: 8px;
}

.hero-section h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.intro, #programs, #testimonials {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}